clientid = "{{ CLIENT_ID }}"
subsid = "{{ SUBSCRIPTION_ID }}"
tenantid = "{{ TENANT_ID }}"
region = "{{ LOCATION }}"
rgname = "{{ AZURE_RESOURCE_GROUP }}"
vnet   = "{{ VIRTUAL_NET }}"
rgnetname = "{{ RESOURCE_GROUP_NET }}"
tags = {
        author = "Antonio Medina"
        date = "15102019"
      }

