variable "subsid" {
  description = "Subscription ID"
}

variable "region" {
  default = "westeurope"
}

variable "rgname" {
  description = "The resourcegroup name"
}

variable "clientid" {
}

variable "clientsec" {
  description = "Client secret"
}

variable "tenantid" {
}

variable "tags" {
}

variable "vnet" {
  description = "Virtual network name"
}

variable "rgnetname" {
  description = "resource group for the network"
}

variable "USER" {

}

variable "USER_PASS" {
  
}